{% include "include_this.html" %}
<h6>{{error}}</h6>
{%if billform %}
<form method='POST'>
    Customer Name : {{billform.customerName(placeholder="Customer Name")}}
    Barcode : {{billform.itemBarcode(placeholder="Item Barcode")}}
    Quantity : {{billform.itemQuantity(placeholder="Item Quantity")}}
    {{billform.next}}
    {{billform.submit}}
    <table>
        <thead>
            <th>Item Barcode </th>
            <th>Item Name </th>
            <th>Item Price (1 Qty)</th>
            <th> Item Quantity</th>
            <th> Item Expiry Date</th>
            <th> Item Total Price</th>
        </thead>
        <tbody>
            {%for list in listItems %}
            <tr>
                {% for i in list[:-1] %}
                    <td>{{i}}</td>
                {%endfor%}
            <tr>
            {%endfor%}
                <td>  </td>
                <td> Total </td>
                <td> {{total}}</td>
                <td>  </td>
            </tr>
        </tbody>
    </table>
</form>
{%endif%}
