<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<h5>{{user}}@{{areaName}}-{{unitName}}</h5>
<h6>
    {%if userAccess != 'U' %}
        <a href="{{ url_for('branch', error='success') }}">Modify Branch</a> |
        <a href="{{ url_for('signup', error='success') }}">register user</a> |
    {%endif%}
    <a href="{{ url_for('billing') }}"> billing</a> |
    <a href="{{ url_for('updateInventory', error='success') }}"> Update Inventory</a> |
    <a href="{{ url_for('searchInventory', error='success') }}"> Search Inventory</a> |
    <a href="{{ url_for('sales') }}"> Total Sales </a> |
    <a href="{{ url_for('logout') }}">sign out</a> |
</h6>
</body>
</html>
