{% include "include_this.html" %}
<h6>{{error1}}</h6>
{% if fillingform %}
<form class="form-filling" action="" method="POST">
    {{fillingform.existingItemBarCode(id = "existingItemBarCode", onchange="makeVisible()") }}
    {{fillingform.newItemBarCode(placeholder="New Item Bar Code", id="newItemBarCode")}}
    {{fillingform.itemName(placeholder="Item Name ", id="itemName")}}
    <br>
    {{fillingform.updatePrice(placeholder=" Updated Price")}}
    {{fillingform.itemQuantity(placeholder="Quantity Filled")}}
    {{fillingform.submit}}
  </form>
  <h6> {{ error }}</h6>
  {% endif %}

  <table>
      <thead>
          {% for col in available_stockHead %}
          <th> {{col}} </th>
          {%endfor%}
      </thead>
      <tbody>
      {% for rows in available_stock %}
      <tr>
          {%for col in rows %}
          <td> {{col}} </td>
          {%endfor%}
      </tr>
      {%endfor%}
  </tbody>
  </table>

  <script>
    function makeVisible() {
        x = document.getElementById("newItemBarCode");
        y = document.getElementById("itemName");
        z = document.getElementById("existingItemBarCode");
        x.style.visibility = 'visible';
        y.style.visibility = 'visible';
        if(z.value != 0)
        {
            x.style.visibility = 'hidden';
            y.style.visibility = 'hidden';
        }
    }
  </script>
